# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode
.vs

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/ASP.NET WebApi/.vs/ASP.NET WebApi/FileContentIndex/99bf99e3-96dc-48fb-9bb9-ebdfec7d9802.vsidx
/ASP.NET WebApi/.vs/ASP.NET WebApi/FileContentIndex/5fc2163d-a3e2-4509-8787-e89fa01bc728.vsidx
/ASP.NET WebApi/.vs/ASP.NET WebApi/FileContentIndex/e05c5cef-be62-4bda-a138-98419d916e0f.vsidx
